<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>378781745237-l850q59nuur1cefckhst033rrgin02ul.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.378781745237-l850q59nuur1cefckhst033rrgin02ul</string>
	<key>API_KEY</key>
	<string>AIzaSyABqmk32ZC9h_0GgaJJLU-6geUjizjqLY8</string>
	<key>GCM_SENDER_ID</key>
	<string>378781745237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lmoc.prod.shawl</string>
	<key>PROJECT_ID</key>
	<string>shaawl</string>
	<key>STORAGE_BUCKET</key>
	<string>shaawl.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:378781745237:ios:f713b7ecdf79aaa2bd14dc</string>
</dict>
</plist>